body{
    background-color: #00A398;
  }
  #main {
    font-family: "Roboto";
    font-size: 12pt;
    line-height: 1.5;
    background-color: rgb(179,0,0);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
  }
  
  #title {
    font-size: 48pt;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: bolder;
  }
  .subtitle {
    margin-bottom: 0;
    text-align: center;
    font-size: 12pt;
  }
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  figcaption {
    text-align: center;
    padding-top: 15px;
  }
  article {
    display: flex;
  }
  
  article h3 {
    margin-bottom: 0;
    padding: 0 20px;
    font-size: 16pt;
  }
  ul{
    margin-top: 10px;
    padding-right: 20px;
  }
  
  li{
    padding-top: 10px;
  }
  .learn-more{
    padding: 0px 10px 20px 20px;
    text-align: center;
  }
  
  #tribute-link:visited{
    color: #FDF667;
  }
  #tribute-link:hover{
    color: #FDF667;
  }
  
  @media (max-width: 700px){
    article{
      display:block;
    }
  }